@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #808080;
    width: 100%;
}

.search-area{
    padding:5% 5% 5% 0%;
    
  }
  .user-list{
    padding-top:5%;
  }
  .user-container{
     
     place-items:center;
     border:1px solid black;
     border-radius: 5px;
    
    background:#EDC9AF;
    
  }
  .user-container:hover{
    transform: scale(1.1);
     
     background:#EBDDE2;
     
    opacity: 1 ;
  }
  .headname{
    background:#438D80;
   
    
    border-radius:10px;
     place-items:center;
    text-align: center;
    border: 1px solid black;
  }
  .countryid1{
    background:#2E8B57;
    
    border-radius:10px;
   place-items:center;
    border: 1px solid black;
  
    text-align: center;
  }
  .countryid2{
    background:#2E8B57;
   
    border-radius:10px;
       text-align: center;
     place-items:center;
    border: 1px solid black;
  }
  .search-area{
     
      text-align: center;
  }
  @media (min-width: 600px) {
    .countryid2{
       grid-column: span 2;
      width:250px;
    }
    .welcomeNote{
        font-size: 50px;
        font-family: 'Yellowtail'
        
    }
    .countryid1{
       grid-column: span 2;
      width:250px;
    }
    .headname{
       grid-column: span 4;
      width:350px;
    }
    .user-container{
     display:grid;
       background:#EDC9AF;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
      gap:1%;
    }
    .search-tab{
      height:40px;
      width:500px;
    }
    .search-key{
       height:40px;
      width:140px;
      font-weight: bolder;
      font-size: 18px;
    }
    .buttenReset{
      height:20px;
      width:60px;
    }
  }
  .countryid1:hover{
    transform: scale(1.1);
     font-family: Poppins;
     background: #748B6C;
     width:290px;
    opacity: 1 ;
  }
  .countryid2:hover{
    transform: scale(1.1);
     font-family: Poppins;
     background: #748B6C;
     width:290px;
    opacity: 1 ;
  }
  .headname:hover{
    transform: scale(1.5);
     font-family: Poppins;
     background: #748B6C;
    opacity: 1 ;
  }
  .buttenReset:hover{
      height:40px;
      width:100px;
      font-weight: bolder;
      font-size: 18px;
    }